image_captioning_backend/caption_generator_send/model/
image_caption_auth/node_modules
.env
__pycache__
*.pyc
image_caption_auth/authServer.js
image_captioning_backend/core
image-captioning-system/src/assets/*
image-captioning-system/src/containers/*
image-captioning-system/src/pages/aboutproject/*
image-captioning-system/src/pages/afteruploadpg/*


